[submodule "landing-site/themes/northendlab-hugo"]
	path = landing-site/themes/northendlab-hugo
	url = https://github.com/themefisher/northendlab-hugo.git
[submodule "beta/mattermost/mattermost-docker"]
	path = beta/mattermost/mattermost-docker
	url = https://github.com/mattermost/mattermost-docker.git
