apt-mirror/data/*
pypi-mirror/data/*
chopchop/data/*
chopchop/tmp/*
minio/data/tx*
minio/data/rx*
minio/data/.minio.sys
minio/data/gitlab-backups/*
minio/data/gitlab-artifacts/*
gitlab/backup/secrets/*
gitlab/backup/data/*
.env
.pwgen
gitlab.config
