version: '3.7'

services:

  gitlab:
    image: 'docker.io/gitlab/gitlab-ce:12.9.2-ce.0'
    restart: always
    privileged: true
    hostname: 'gitlab.platform.net'
    env_file:
      - .env
    environment:
      GITLAB_OMNIBUS_CONFIG: |  
        external_url 'http://gitlab.platform.net'
        letsencrypt['enable'] = false
        registry_external_url 'http://gitlab.platform.net:5050'        
        registry['enable'] = true
        unicorn['socket'] = '/opt/gitlab/var/unicorn/gitlab.socket'
        #'SSL_CERT_DIR' => '/opt/gitlab/embedded/ssl/certs/'
        # Add any other gitlab.rb configuration here, each on its own line
    volumes:
      - 'gitlab-config:/etc/gitlab'
      - 'gitlab-logs:/var/log/gitlab'
      - 'gitlab-data:/var/opt/gitlab'
      
  gitlab-runner-1:
    image: gitlab/gitlab-runner:latest
    restart: always
    container_name: gitlab-runner-1
    hostname: gitlab-runner-1
    env_file:
      - .env
    extra_hosts:
      - "gitlab.platform.net:192.168.88.130"
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'

  gitlab-runner-2:
    image: gitlab/gitlab-runner:latest
    restart: always
    container_name: gitlab-runner-2
    hostname: gitlab-runner-2
    env_file:
      - .env
    extra_hosts:
      - "gitlab.platform.net:192.168.88.130"
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'
      
  gitlab-runner-3:
    image: gitlab/gitlab-runner:latest
    restart: always
    container_name: gitlab-runner-3
    hostname: gitlab-runner-3
    env_file:
      - .env
    extra_hosts:
      - "gitlab.platform.net:192.168.88.130"
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock'


volumes:
  gitlab-config:
  gitlab-logs:
  gitlab-data:
