{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="nav nav-tab flex-column" role="tablist" aria-orientation="vertical">
          {{ range $index, $elemen:= .Site.Data.tools.tools }}
          <a class="nav-link {{ if eq $index 0}} active {{ end }}" data-toggle="pill" href="#{{.title | urlize}}" role="tab">{{ .title }}</a>
          {{ end }}
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content">
          {{ range $index, $elemen:= .Site.Data.tools.tools }}
          <div class="tab-pane fade {{ if eq $index 0}} show active {{ end }}" id="{{.title | urlize}}" role="tabpanel">
            <div class="row">
              {{ range .tool}}
              <div class="col-md-6 mb-4">
                <div class="card border-0 shadow">
                  <div class="card-body">
                    <h4 class="h5 mb-4"><a class="text-dark" href="{{ .link | safeURL }}">{{ .name | markdownify }}</a>
                    </br>
                      {{ with .status }}
                        {{ range . }}
                          <span class="badge {{ if eq .status "Coming" }} badge-info {{ else if  eq .status "Beta" }} badge-warning {{ else if eq .status "Available" }} badge-success {{ else if eq .status "No Plans" }} badge-secondary {{end}} mr-1" {{ with .tooltip }}data-toggle="tooltip" data-placement="top" title=" {{ . }}"{{ end }}>{{ .name }}</span>
                        {{ end }}
                      {{ end }}
                    </h4>
                    <p>{{ .description }}</p>
                    {{ with .link_visit }}<a href="{{ . | safeURL }}" class="btn btn-sm">Visit</a>{{ end }}
                    {{ with .link_download }}<a href="{{ . | safeURL }}" class="btn btn-sm">Download</a>{{ end }}
                    {{ with .link_docs }}<a href="{{ . | safeURL }}" class="btn btn-sm">Docs</a>{{ end }}
                  </div>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
          {{ end }}
          <h4 class="h6 mb-4 float-right"><a class="text-dark" href="">Legend: </a>
            <span class="badge  badge-success  mr-1">Available</span>
            <span class="badge  badge-warning  mr-1">Beta</span>
            <span class="badge  badge-info  mr-1">Planned</span>
            <span class="badge  badge-secondary  mr-1">No Plans</span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}