version: '3.7'

services:

  nginx:
    restart: always
    image: 'docker.io/nginx:1.17'
    ports:
      - "80:80"
    volumes:
      - type: bind
        source: ${PWD}/nginx/sites-enabled #this is for docker-compose up from parent dir, remove /nginx from path to run from this directory
        target: /etc/nginx/sites-enabled
      - type: bind
        source: ${PWD}/nginx/conf/nginx.conf
        target: /etc/nginx/nginx.conf
      - type: bind
        source: ${PWD}/nginx/www
        target: /var/www