version: '3.7'

services:
  postgresql: 
    image: bitnami/postgresql:10
    volumes:
      - 'postgresql_data:/bitnami/postgresql'
    env_file:
      - .env
  redis:
    image: bitnami/redis:5.0
    volumes:
      - 'redis_data:/bitnami'
    env_file:
      - .env
  airflow-scheduler:
    image: bitnami/airflow-scheduler:1
    volumes:
      - airflow_scheduler_data:/bitnami
    env_file:
      - .env
  airflow:
    image: bitnami/airflow:1
    networks:
      - nginx_default
      - default
    volumes:
      - airflow_data:/bitnami
      - '/home/platypus/Code/platformplatform/airflow/dag/:/opt/bitnami/airflow/dags'
    env_file:
      - .env

volumes:
  airflow_scheduler_data:
    driver: local
  airflow_data:
    driver: local
  postgresql_data:
    driver: local
  redis_data:
    driver: local

networks:
  nginx_default:
    external: true
