version: '3'

services:

# nginx
  nginx:
    image: 'docker.io/nginx:1.17'
    restart: always
    ports: 
      - '80:80'
    volumes:
      - './data/apt-mirror/mirror:/usr/share/nginx/html:ro'
      - './nginx:/etc/nginx/conf.d:ro'
      - './scripts/wait-for-it.sh:/opt/scripts/wait-for-it.sh:ro'
#    command: ["/opt/scripts/wait-for-it.sh", "harbor-nginx:8080", "nginx", "-g", "daemon off;"]
    depends_on:
      - gitlab
#      - apt-mirror

# apt-mirror
#  apt-mirror:
#    image: 'docker.io/yannhowe/aptmirror-ubuntu1804'
#    volumes:
#      - './data/apt-mirror:/mnt/mirror/debian'

# gitlab
  gitlab:
    image: 'docker.io/gitlab/gitlab-ce:12.6.6-ce.0'
    restart: always
    privileged: true
    hostname: 'gitlab.local.org'
    environment:
      GITLAB_OMNIBUS_CONFIG: |  
        external_url 'http://gitlab.local.org'
        letsencrypt['enable'] = false
        #'SSL_CERT_DIR' => '/opt/gitlab/embedded/ssl/certs/'
        # Add any other gitlab.rb configuration here, each on its own line
    ports:
      - '9080:80'
      - '9443:443'
      - '9022:22'
    volumes:
      - 'gitlab-config:/etc/gitlab'
      - 'gitlab-logs:/var/log/gitlab'
      - 'gitlab-data:/var/opt/gitlab'

volumes:
  gitlab-config:
    driver: local
  gitlab-logs:
    driver: local
  gitlab-data:
    driver: local